---
title: ProtonMail Themes - All Themes
---

<h1>All Themes</h1>

<div class="ui three stackable cards">
<% data.themes.each do |theme| %>
  <%= partial(:theme, :locals => { :theme => theme }) %>
<% end %>
</div>
